
.centered-container-toolbar {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: start; /* Center vertically */
    /* Make the container take up the full viewport height */
}


.custom-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}

.context-menu {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 5px;
    z-index: 9999;
}

.context-option {
    padding: 5px;
    cursor: pointer;
}

.context-option:hover {
    background-color: #f0f0f0;
}



.tool-button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.tool-button.active {
    background-color: lightblue;
}

.tool-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}